@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background-color: #F6F5F3;
}

.background-container {
    height: 100vh;
}

.background-container img {
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.about {
    display: none;
}

.about-button {
    position: absolute;
    top: 90vh;
    right: 5vw;
    z-index: 5;
    background-color: rgb(151, 121, 68);
    border: 2px solid rgb(151, 121, 68);
    color: white;
    font-family: 'Josefin Slab';
    font-size: 1.6vw;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 1%;
}

.about-button:hover {
    background-color: rgba(151, 121, 68, 0);
    border: 2px solid rgb(151, 121, 68);
    color: rgb(151, 121, 68);
}

.center-line {
    border-left: 1.5px solid #c4c1b5;
    top: 0;
    left: 50%;
    height: 100vh;
    z-index: 300;
    position: absolute;
}

.description, .about {
    left: 50%;
    top: 0;
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
}

.description {
    margin-top: 5%;
    margin-bottom: 5%;
}

.about {
    overflow-y: scroll;
    height: 85vh;
    margin-left: 5%;
    margin-right: 5%;
    top: 0;
}

.about h1 {
    color: rgb(151, 121, 68);
    font-size: 4vw;
    text-align: center;
    font-family: 'Josefin Slab';
}

.description h1 {
    color: rgb(151, 121, 68);
    font-size: 4vw;
    text-align: center;
    font-family: 'Josefin Slab';
    padding-top: 5%;
}

p,li {
    color: rgb(151, 121, 68);
    font-size: 1.5vw;
    font-family: 'Josefin Slab';
    text-align: justify;
    text-justify: inter-word;
}

.about p {
    line-height: 1.5;
}

.button {
    background-color: rgb(151, 121, 68);
    border: 2px solid rgb(151, 121, 68);
    color: white;
    padding: 1vw;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
}

.button:hover {
    background-color: #aaa28200;
    border: 2px solid rgb(191 153 87);
}

#louvre {
    top: 61vh;
    left: 2.1vw;
}

#nyu {
    top: 72vh;
    left: 28.4vw;
}

#manarat {
    top: 55vh;
    left: 16.3vw;
}