@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,
body {
    margin: 0;
    padding: 0;
/*
    background-image: url(images/Back.jpg);
    background-size: cover;
*/
    font-size: 2vw;
    color: #938a6a;
    font-family: "Bebas Neue";
}

.background-container {
    height: 100vh;
}

.background-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}


#back-image{
    height: 100vh;

}

#back-button{
    position: absolute;
    height: 5vh;
    top: 1vh;
    left: 1vw;
    cursor: pointer;
    z-index: 2;

}

.button {
    background-color: bisque;
    border: 3px solid bisque;
    color: white;
    padding: 0.75vw;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
}

.button:hover{
    background-color: #aaa28200;
    border: 1px solid bisque;
/*    padding: 3vw;*/
    transform: scale(10);

}

.artwork {
    position: absolute;
    background-color: #C9DDE4;
    /* border-radius: 5%; */
    cursor: pointer;
    box-sizing: border-box;
    padding: 1%;
    text-align: center;
}

img {
    max-width: 100%; 
    max-height: 100%; 
    display: inline-grid;
    margin:auto;
}

#posts{

    top: 46vh;
    left: 15vw;
    background-image: url(images/posts.jpg);
    background-size: cover;
    
}

#feather{

    top: 50vh;
    left: 55vw;
    background-image: url(images/feather.jpg);
    background-size: cover;
    
}

#horse{

    top: 40vh;
    left: 50vw;
    background-image: url(images/horse.JPG);
    background-size: cover;
    
}


#stars{

    top: 45vh;
    left: 70vw;
    background-image: url(images/stars.jpg);
    background-size: cover;
    
}

#axe{

    top: 35vh;
    left: 40vw;
    background-image: url(images/axe.JPG);
    background-size: cover;
    
}

#bottles{

    top: 47vh;
    left: 42vw;
    background-image: url(images/bottles.jpg);
    background-size: cover;
    
}

#dagger{

    top: 35vh;
    left: 42vw;
    background-image: url(images/dagger.jpg);
    background-size: cover;
    
}

#pots{
    top: 32vh;
    left: 55vw;
    background-image: url(images/pots.jpg);
    background-size: cover;
}

#stones{
    top: 45vh;
    left: 30vw;
    background-image: url(images/stones.jpg);
    background-size: cover;
}

#overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    z-index: 100;
}

/*
#card{
    top:20vh;
    height: 60vh;
    left: 30%;
    width: 70vw;
    position: absolute;
    box-sizing: border-box;
    padding: 1%;
    border-radius: 3%
}
*/


#card{
    background-color: rgb(0, 0, 0,0.6);
    top: 20vh;
    height: 55vh;
    left: 33vw;
    width: 34vw;
    position: absolute;
    box-sizing: border-box;
    padding: 1%;
    border-radius: 3%

}


#close{
    color: black;
    position: absolute;
    cursor: pointer;
    top: 2vh;
    right: 2vw;
    font-size: 2vw;
    margin: 0;
}

#instructions{
    text-align: center;
    margin-top: 2vh;
}
