html,
body {
  margin: 0;
  padding: 0;
}

.background-container {
  height: 100vh;
  width: 100vw;
}

video {
  width: 60vw;
}

#overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(246, 245, 243, 0.3);
  position: absolute;
  top: 0;
}

.section {
  position: absolute;
  background-color: rgb(255, 247, 220);
  width: 20vw;
  height: 40vh;
  z-index: 5;
  top: 30vh;
  cursor: pointer;
}

#videos {
  left: 10vw;
}

#images {
  left: 40vw;
}

#audios {
  left: 70vw;
}

#back-button {
  position: absolute;
  height: 5vh;
  top: 1vh;
  left: 1vw;
  cursor: pointer;
  z-index: 3;
}

.videos {
  top: 15%;
  left: 20%;
  z-index: 1;
  position: absolute;
}

* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 3;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(246, 245, 243);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #c79661;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}