@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

.background-container {
  background-image: url("/nyu/images/nyu.jpeg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

h2 {
  color: #F6F5F3;
  text-align: center;
  padding-bottom: 1%;
  font-size: 3vw;
  margin-top: 0;
  font-family: "Josefin Slab";
}

.icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#vid-icon {
  padding-top: 23%;
}

#img-icon {
  padding-top: 16%;
}

#aud-icon {
  padding-top: 18%;
}

.titles {
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 2.5vw;
}

video {
  width: 55vw;
}

#overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  position: fixed;
  top: 0;
}

.section {
  position: absolute;
  background-color: #f6f5f3ea;
  border: 3px solid rgb(151, 121, 68);
  border-radius: 50%;
  width: 22vw;
  height: 44vh;
  z-index: 5;
  top: 30vh;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section:hover {
  transform: scale(1.1);
}

#videos {
  left: 10vw;
}

#images {
  left: 40vw;
}

#audios {
  left: 70vw;
}

.back {
  position: absolute;
  height: 5vh;
  top: 1vh;
  left: 1vw;
  cursor: pointer;
  z-index: 3;
  position: fixed;
}

.videos,
.audios {
  top: 7vh;
  left: 25%;
  z-index: 1;
  position: absolute;
}

* {
  box-sizing: border-box
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 3;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(246, 245, 243);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #c79661;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

div.gallery {
  width: 90%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-right: 0;

}

div.gallery img {
  width: 100%;
  height: 27vh;
  padding: 4%;
  background-color: #F6F5F3;
}

div.desc {
  padding: 2vh;
  text-align: center;
  background-color: #F6F5F3;
  font-family: "Cedarville Cursive";
  font-size: 1.5vw;
  color: #c79661;
}

#descLarge {
  text-align: center;
  font-family: "Cedarville Cursive";
  font-size: 2vw;
  color: #c79661;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 25%;
  transition: transform .2s;
}

.responsive:hover {
  transform: scale(1.25);
}

@media only screen and (max-width: 900px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 600px) {
  .responsive {
    width: 100%;
  }
}

.images {
  top: 7vh;
  position: absolute;
  width: 90vw;
  height: 90vh;
  left: 6vw;
}

.audios {
  left: 10vw;
}

#card {
  background-color: #F6F5F3;
  border: 2px solid rgb(151, 121, 68);
  top: 20vh;
  height: 60vh;
  left: 30vw;
  width: 40vw;
  position: fixed;
  box-sizing: border-box;
  padding: 1%;
}

#card img {
  width: 100%;
  max-height: 80%;
  padding-top: 2vh;
  display: block;
  margin: auto;
}

#close{
  position: absolute;
  cursor: pointer;
  top: 0vh;
  right: 0.5vw;
  font-size: 2vw;
  margin: 0;
  font-family: "Josefin Slab";
  color: #c79661;
}
