html,
body {
  margin: 0;
  padding: 0;
}

.background-container {
  background-image: url("/nyu/images/nyu.jpeg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position:fixed;
}

video {
  width: 60vw;
}

#overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  position:fixed;
  top: 0;
}

.section {
  position: absolute;
  background-color: rgba(255, 247, 220, 0.8);
  border-radius: 3%;
  width: 20vw;
  height: 40vh;
  z-index: 5;
  top: 30vh;
  cursor: pointer;
}

.section:hover {
  transform: scale(1.1);
}

#videos {
  left: 10vw;
}

#images {
  left: 40vw;
}

#audios {
  left: 70vw;
}

.back {
  position: absolute;
  height: 5vh;
  top: 1vh;
  left: 1vw;
  cursor: pointer;
  z-index: 3;
  position:fixed;
}

.videos,
.audios {
  top: 15%;
  left: 20%;
  z-index: 1;
  position: absolute;
}

* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 3;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(246, 245, 243);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #c79661;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

div.gallery {
  width: 90%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-right: 0;

}

div.gallery img {
  width: 100%;
  height: 27vh;
  padding: 4%;
  background-color: rgba(255, 247, 220);
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: rgba(255, 247, 220);
  font-family: 'nyt-cheltenham';
  font-size: 18px;
  color: white;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 25%;
  transition: transform .2s;
}

.responsive:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 900px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 600px) {
  .responsive {
    width: 100%;
  }
}

.images {
  top: 10vh;
  position: absolute;
  width: 90vw;
  height: 90vh;
  left: 6vw;
}

.icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30%;
  width: 40%;
}

.audios{
  left: 10vw;
}