@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(246, 245, 243);
    font-size: 2vw;
    color: #938a6a;
    font-family: "Bebas Neue";
}

#back-button{
    position: absolute;
    height: 5vh;
    top: 1vh;
    left: 1vw;
    cursor: pointer;
}

.artwork {
    position: absolute;
    background-color: #C9DDE4;
    /* border-radius: 5%; */
    cursor: pointer;
    box-sizing: border-box;
    padding: 1%;
    text-align: center;
}

#vaadaka {
    width: 20vw;
    height: 45vh;
    left: 15vw;
    top: 5vh;
    padding-top: 10%;
}

#fwalat {
    left: 15vw;
    width: 20vw;
    height: 20vh;
    top: 55vh;
    padding-top: 4%;
}

#past-voices {
    left: 15vw;
    width: 25vw;
    height: 15vh;
    top: 80vh;
    padding-top: 3%;
}

#dish {
    left: 40vw;
    width: 20vw;
    height: 20vh;
    top: 5vh;
    padding-top: 4%;
}

#outside-in {
    left: 40vw;
    width: 20vw;
    height: 20vh;
    top: 30vh;
    padding-top: 4%;
}

#volcano {
    left: 44vw;
    width: 15vw;
    height: 27vh;
    top: 55vh;
    border-radius: 50%;
    padding-top: 5.5%;
}

#hauntology {
    width: 20vw;
    height: 45vh;
    right: 15vw;
    top: 5vh;
    padding-top: 9%;
}

#boy {
    width: 15vw;
    height: 15vh;
    right: 15vw;
    top: 55vh;
    padding-top: 2%;
}

#girl {
    width: 15vw;
    height: 15vh;
    right: 15vw;
    top: 80vh;
    padding-top: 2%;
}

#overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
}

#card{
    background-color: rgb(226, 226, 212);
    top: 10vh;
    height: 80vh;
    left: 33vw;
    width: 34vw;
    position: absolute;
    box-sizing: border-box;
    padding: 1%;
}

img {
    max-width: 100%; 
    max-height: 92%; 
    display:block;
    margin:auto;
}

#close{
    position: absolute;
    cursor: pointer;
    top: 0vh;
    right: 1vw;
    font-size: 2vw;
    margin: 0;
}

#instructions{
    text-align: center;
    margin-top: 2vh;
}