@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(246, 245, 243);
    font-size: 1.8vw;
    color: #938a6a;
    font-family: "Bebas Neue";
}

h2 {
    text-align: center;
    font-size: 2.7vw;
    font-family: "Josefin Slab";
}

.background-container {
    height: 80vh;
    width: 70vw;
    top: 14vh;
    left: 15vw;
    position: absolute;
}

#back-button{
    position: absolute;
    height: 5vh;
    top: 1vh;
    left: 1vw;
    cursor: pointer;
}

.artwork {
    position: absolute;
    background-color: #ffffff00;
    cursor: pointer;
    box-sizing: border-box;
    padding: 1%;
    text-align: center;
}

#vaadakaTwo {
    width: 20vw;
    height: 15.4vh;
    left: 15.1vw;
    top: 14.2vh;
    padding-top: 2.5%;
}

#vaadakaTwo:hover {
    background-color: rgb(99 61 41);
}

#vaadaka {
    width: 20vw;
    height: 17.8vh;
    left: 15.1vw;
    top: 30.6vh;
    padding-top: 3.7%;
}

#vaadaka:hover {
    background-color: rgb(17 33 104);
}

#fwalat {
    left: 15.2vw;
    width: 20vw;
    height: 16.4vh;
    top: 55.2vh;
    padding-top: 3%;
}

#fwalat:hover {
    background-color: rgb(174 146 122);
}

#past-voices {
    left: 15.1vw;
    width: 20vw;
    height: 16.6vh;
    top: 77.2vh;
    padding-top: 3%;
}

#past-voices:hover {
    background-color: rgb(106, 17, 158);
}

#dish {
    left: 38.9vw;
    width: 22vw;
    height: 16.4vh;
    top: 14.2vh;
    padding-top: 3%;
}

#dish:hover {
    background-color: rgb(0 13 39);
}

#outside-in {
    left: 38.85vw;
    width: 22.1vw;
    height: 16.5vh;
    top: 36.5vh;
    padding-top: 3%;
}

#outside-in:hover {
    background-color: rgb(196 188 175);
}

#volcano {
    left: 38.8vw;
    width: 22.4vw;
    height: 36vh;
    top: 57.8vh;
    border-radius: 50%;
    padding-top: 8%;
}

#volcano:hover {
    background-color: rgb(244, 217, 216);
}

#hauntology {
    width: 19.7vw;
    height: 36.3vh;
    right: 15.3vw;
    top: 14.2vh;
    padding-top: 7%;
}

#hauntology:hover {
    background-color: rgb(92 94 84);
}

#boy {
    width: 20vw;
    height: 16.4vh;
    right: 15.1vw;
    top: 55.3vh;
    padding-top: 3%;
}

#boy:hover {
    background-color: rgb(28, 13, 201);
}

#girl {
    width: 20vw;
    height: 16.4vh;
    right: 15.1vw;
    top: 77.3vh;
    padding-top: 3%;
}

#girl:hover {
    background-color: #e2a5d9;
}

#overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
}

#card{
    background-color: rgb(226, 226, 212);
    top: 10vh;
    height: 80vh;
    left: 35vw;
    width: 30vw;
    position: absolute;
    box-sizing: border-box;
    padding: 1%;
}

img {
    max-width: 100%; 
    max-height: 92%; 
    display:block;
    margin:auto;
}

#close{
    position: absolute;
    cursor: pointer;
    top: 0vh;
    right: 0.5vw;
    font-size: 2vw;
    margin: 0;
    font-family: "Josefin Slab";
}

#instructions{
    text-align: center;
    margin-top: 2vh;
}