@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(246, 245, 243);
    font-size: 2vw;
    color: #938a6a;
    font-family: "Bebas Neue";
}

.background-container {
    height: 80vh;
    width: 70vw;
    top: 10vh;
    left: 15vw;
    position: absolute;
}

#back-button{
    position: absolute;
    height: 5vh;
    top: 1vh;
    left: 1vw;
    cursor: pointer;
}

.artwork {
    position: absolute;
    background-color: #ffffff00;
    /* border-radius: 5%; */
    cursor: pointer;
    box-sizing: border-box;
    padding: 1%;
    text-align: center;
}

.artwork:hover {
    background-color: #cce4ea;
}

#vaadakaTwo {
    width: 20vw;
    height: 15.4vh;
    left: 15.1vw;
    top: 10.2vh;
    padding-top: 2.5%;
}

#vaadaka {
    width: 20vw;
    height: 17.8vh;
    left: 15.1vw;
    top: 26.6vh;
    padding-top: 3.7%;
}

#fwalat {
    left: 15.2vw;
    width: 20vw;
    height: 16.4vh;
    top: 51.2vh;
    padding-top: 3%;
}

#past-voices {
    left: 15.1vw;
    width: 20vw;
    height: 16.6vh;
    top: 73.2vh;
    padding-top: 3%;
}

#dish {
    left: 38.9vw;
    width: 22vw;
    height: 16.4vh;
    top: 10.2vh;
    padding-top: 3%;
}

#outside-in {
    left: 38.9vw;
    width: 22vw;
    height: 16.4vh;
    top: 32.5vh;
    padding-top: 3%;
}

#volcano {
    left: 38.9vw;
    width: 22.2vw;
    height: 36vh;
    top: 53.8vh;
    border-radius: 50%;
    padding-top: 8%;
}

#hauntology {
    width: 19.7vw;
    height: 36.3vh;
    right: 15.3vw;
    top: 10.2vh;
    padding-top: 8%;
}

#boy {
    width: 20vw;
    height: 16.4vh;
    right: 15.1vw;
    top: 51.3vh;
    padding-top: 3%;
}

#girl {
    width: 20vw;
    height: 16.4vh;
    right: 15.1vw;
    top: 73.3vh;
    padding-top: 3%;
}

#overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: none;
}

#card{
    background-color: rgb(226, 226, 212);
    top: 10vh;
    height: 80vh;
    left: 33vw;
    width: 34vw;
    position: absolute;
    box-sizing: border-box;
    padding: 1%;
}

img {
    max-width: 100%; 
    max-height: 92%; 
    display:block;
    margin:auto;
}

#close{
    position: absolute;
    cursor: pointer;
    top: 0vh;
    right: 1vw;
    font-size: 2vw;
    margin: 0;
}

#instructions{
    text-align: center;
    margin-top: 2vh;
}