@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Josefin Slab";
  /*background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );*/
  /*    background-image: linear-gradient(0deg, rgba(251,252,13,1) 23.8%, rgba(255,170,1,0.99) 92%);*/

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-container {
  background-image: url("/nyu/images/nyu.jpeg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

h2 {
  color: antiquewhite;
  text-align: center;
  padding-bottom: 1%;
  font-size: 3vw;
  margin-top: 0;
  font-family: "Josefin Slab";
  z-index: 5;
  position: absolute;
  top: 10vh;
}

#overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  position: fixed;
  top: 0;
}

.audio-container {
  background-color: #000;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 #e9dbc36d;
  display: flex;
  padding: 25px 40px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;

}

.audio-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #000;
  border: 0;
  color: #e9dbc3;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}


.action-btn.action-btn-big {
  color: #e9dbc3;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.audio-info {
  background-color: #e9dbc3;
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.audio-container.play .audio-info {
  opacity: 1;
  transform: translateY(-100%);
}

.audio-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #000;
  border-radius: 5px;
  height: 100%;
  width: 50%;
  transition: width 0.1s linear;
}

#back-button {
  position: absolute;
  height: 5vh;
  top: 1vh;
  left: 1vw;
  cursor: pointer;
  z-index: 2;

}